.about-section {
  background-color: rgb(244, 239, 240);
}

.more-services {
  box-shadow: 2px 5px 10px gray;
  background-color: #f2f2eb;
}

.medical-icon {
  color: #1bcaf0;
  padding-top: 12px;
}

.icon-div {
  width: 60px;
  height: 50px;
  background-color: lightgray;
  border-radius: 10px;
  margin-right: 10px;
}
