.review {
  height: 400px;
  padding: 20px;
  background-image: url("../../images/banner-img-4.jpeg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}
.review p {
  font-size: larger;
}
